@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Inter";
}

html {
    scroll-behavior: smooth;
}

body {
    margin: auto;
    background-color: #2D3635;
}

main {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

main::-webkit-scrollbar {
    display: none;
}

.pag_principal {
    display: flex;
    align-items: center;

    scroll-snap-align: start;
    opacity: 50;
    transform: translateY(20px);
    transition: all 0.6s ease;
}

.LM_01, .LM_02, .LM_05 {
    max-width: 1200px;
    height: 100vh;
}

.contato_01 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    flex-direction: column;
}

.Botao_Um_Agendar {
    background-color: #C5865B;
    padding: 20px;
    border: none;
    border-radius: 30px;
    width: 20rem;

    font-size: 20px;
    color: #2D3635;
}

.Botao_Um_Agendar:hover {
    background-color: #865737;
    color: #FFD6BA;
    transition: all, .3s;
}

.quem_e_laura {
    display: flex;
    align-items: center;

    font-weight: 100;

    scroll-snap-align: start;
    transform: translateY(20px);
    transition: all 0.6s ease;
}

.sobre_LM {
    font-size: 20px;
    color: #FFD6BA;
    text-align: center;

    width: 100%;
    height: 100%;
    padding: 10% 10% 10% 0;
    line-height: 1.6;
}

.titulo_LM {
    background-color: #C5865B;
    color: #2D3635;
    width: 30%;
    height: 50px;

    line-height: 1;
    font-size: 1.5rem;
    font-weight: 400;
    text-align: justify;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px;
    border-radius: 0 8px 8px 0;
}

.texto_LM {
    padding: 0 0 0 20%;
}

.texto_D_LM, .texto_D_Servicos {
    padding: 0 0 0 10%;
}

.detalhamento_servicos {
    display: flex;
    align-items: start;
    background-color: #C5865B;

    font-weight: 100;

    scroll-snap-align: start;
    transform: translateY(20px);
    transition: all 0.6s ease;
}

.titulo_servicos {
    background-color: #2D3635;
    color: #C5865B;
    border-radius: 8px 0 0 8px;

    width: 30%;
    height: 50px;
    padding: 5px;
    margin-top: 50px;

    font-size: 1.5rem;
    font-weight: 400;
    text-align: justify;

    position: absolute;
    right: -50px;
    display: flex;
    align-items: center;  
}

.topicos_servicos {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 20px;
    color: #2D3635;
    text-align: center;

    width: 100%;
    height: 100%;
    padding: 10% 10% 10% 10%;
    line-height: 1.6;
}

.texto_D_Servicos {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.explicativo_servicos {
    width: 40%;
    font-weight: 200;
    border: 1px solid #2D3635;
    border-radius: 10px;
    padding: 20px;
}

.servicos {
    color: #2D3635;
    font-weight: 600;
}

.area_contato {
    background-image: url("../img/LM_ADV_06.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
    scroll-snap-align: start;
    transform: translateY(20px);
    transition: all 0.6s ease;
}

.sobreposicao {
    height: 100vh;
    width: 30%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;

    background-color: #2d3635d9;
}

.logo_LM_Transparente {
    width: 12rem;
}

h3 {
    color: #C5865B;
    font-weight: 400;
}

input {
    background-color: #2D3635;
    font-size: 1rem;

    border: none;
    border-radius: 25px;

    padding: 1.2em;
}

input::placeholder {
    color: #C5865B;
}

input:focus {
    outline: #C5865B;
    border: .5px solid #C5865B;
    color: #FFD6BA;
}

input[type="text"], input[type="email"]{
    color: #FFD6BA;
}

input:-webkit-autofill {
    -webkit-text-fill-color: #FFD6BA;
    -webkit-box-shadow: 0 0 0 35px #2D3635 inset;
}

.enviar_btn {
    color: #2D3635;
    background-color: #C5865B;

    padding: 1rem;
    width: 10rem;

    border: none;
    border-radius: 25px;

    font-size: 1.2rem;
    font-weight: 400;
}

.enviar_btn:hover {
    background-color: #865737;
    color: #FFD6BA;
    transition: all, .3s;
}